html,
body,
div,
h1,
h2,
p,
a {
    border: 0;
    font: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}